.container {
    position: relative;
    width: 1020px;
    margin: auto;
}

.quote {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 44px 40px 18px 40px;
    background-color: #f06c64;
}

.quote__title {
    padding-bottom: 2px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}

.quote__description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;
}

.contact {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 10px 40px 15px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.contact__form {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    width: 619px;
    margin: 0;
}

.form__input {
    height: 36px;
    margin-bottom: 16px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    border: none;
    border-radius: 5px;
    outline: none;

}

.form__describe {
    min-height: 189px;
    padding-top: 11px;
    resize: none;
    letter-spacing: -0.06px;
}


::placeholder {
    color: #f48c8f;
}

.form__input:hover,
.form__input:focus {
    background-color: #cf524b;
    box-shadow: 0px 0px 4px 1px #943732;
}

.form__input:focus:invalid {
   outline: 2px solid red;
}
  
.form__input:focus:valid {
    outline: 2px solid	#07f50790;
}


.form__submit {
    height: 36px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    text-transform: uppercase;
    color: #f48c8f;
    outline: none;
}

.form__submit:hover {
    background-color: #cf524b;
    box-shadow: 0px 0px 4px 1px #943732;
}

.contact__info {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.info__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.info__description {
    margin-top: 10px;
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.15px;
}



.info__location {
    padding: 1px 0 2px 3px;
    margin-bottom: -2.5px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.3px;
}

.info__tel {
    padding-left: 3px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.35px;
}

.info__mail {
    margin: 0px 0 2px 3px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.45px;
}

.info__location::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    background: url("assets/images/location-icon.png") no-repeat;
    width: 20px;
    height: 11px;

}

.info__tel::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    right: 2px;
    background: url("assets/images/phone-icon.png") no-repeat;
    width: 20px;
    height: 11px;
}

.info__mail::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 4.6px;
    right: 3px;
    background: url("assets/images/mail-icon.png") no-repeat;
    width: 20px;
    height: 11px;

}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    height: 76px;
    margin: auto;
    background-color: #2d303a;
}

.copyright {
    margin-left: 41px;
    font-weight: normal;
    font-size: 12px;
    color: #666d89;
    letter-spacing: -0.01rem;
}

.social__icon {
    margin-top: 2px;
    margin-right: 40px;
}

.icon {
    padding-left: 4px;
}

.icon:hover {
    cursor: pointer;

}


@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}