
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.container {
    position: relative;
    width: 1020px;
    margin: auto;
}

.header {
    width: 100%;
    height: 89px;
    text-transform: uppercase;
    background-color: #2d303a;
    border-bottom: 6px solid #2d303a;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 140px;
    height: 100%;
}

.logo__name {
    font-size: 24px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: left;
    vertical-align: -1px;
}

.logo__name::after {
    content: "*";
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
    color: #f06c64;
}

.navigation {
    width: 380px;
    height: 100%;
}

.navigation .menu {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    list-style: none;
}

.menu__item-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 68px;
    color: #ffffff;
}

.menu__item-link:hover {
    color: #f06c64;
}

.menu__item:not(:first-child)::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 400;
    font-size: 19px;
    color: #494e62;
}

.menu__item-link:focus {
    color: #f06c64;
}

.slider {
    width: 100%;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__content {
    position: relative;
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;

}

.slider__arrow-left {
    position: absolute;
    margin-top: 281px;
    margin-left: 2px;

}

.slider__arrow-left:hover {
    cursor: pointer;
}


.slider__iPhone-Vertical {
    position: absolute;
    margin-top: 53px;
    margin-left: 72px;
}

.slider__iPhone-Horizontal {
    position: absolute;
    margin-top: 174px;
    margin-left: 385px;
}

.slider__arrow-right {
    position: absolute;
    margin-top: 281px;
    margin-left: 924px;
}

.slider__arrow-right:hover {
    cursor: pointer;
}

.services {
    width: 960px;
    height: 449px;
    padding: 45px 30px 0 30px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__header {
    width: 940px;
    padding: 0 10px 0 10px;
}


.services__title {
    margin: 23px 0;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.services__description {
    padding: 5px 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.013rem;
}

.services__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 21px;
    width: 960px;
}

.cell {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 96px;
    padding: 0 10px 28px 10px;
    overflow: hidden;
}

.cell__body {
    padding-left: 18px;
}


.cell__header {
    font-size: 18px;
    line-height: 17px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: -0.1px;
}

.cell__description {
    margin-top: 11px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell__icon {
    display: block;
    width: 62px;
    height: 61px;
}


.portfolio {

    width: 940px;
    height: 100%;
    margin: 0;
    padding: 45px 40px 20px 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    margin: 24px 0;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.portfolio__description {
    margin-bottom: 0;
    padding-top: 2px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.22px;
}

.container__buttons {

    width: 290px;
}

.button {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 11px;
    list-style: none;
}

.button__item {
    display: inline-block;
    padding: 0 6px;
    background-color: #2d303a;
    border: 1.5px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    outline: none;
    transition: .3s;
}

.button__item:hover,
.button__item:focus {
    cursor: pointer;
    color: #dedede;
    border-color: #c5c5c5;
}


.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 600px;
    overflow: hidden;
    margin-top: 18px;
    margin-bottom: 47px;
}

.portfolio-image {
    display: block;
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.about_us {
    height: 728px;
    margin: 0;
    padding: 0 30px 0 30px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about_us__header {
    width: 940px;
    padding: 0 10px 0 10px;

}


.about_us__title {
    margin: 0;
    padding-top: 69px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.about_us__description {
    margin-bottom: 0;
    padding-top: 9px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;

}

.person {
    display: flex;
    justify-content: space-between;
    margin-top: 45.5px;
    width: 960px;
}

.person__box {
    padding: 0 10px 0 10px;
}

.person__title {
    height: 17px;
    overflow: hidden;
    margin-top: 13.5px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.06px;
}

.person__description {
    margin-top: 11px;
    width: 300px;
    max-height: 43px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.01px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social__icon {
    margin-top: 24px;
    
}

.icon {
    padding-right: 4px;
}

.icon:hover {
    cursor: pointer;

}


.quote {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 44px 40px 18px 40px;
    background-color: #f06c64;
}

.quote__title {
    padding-bottom: 2px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}

.quote__description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;
}

.contact {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 10px 40px 15px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.contact__form {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    width: 619px;
    margin: 0;
}

.form__input {
    height: 36px;
    margin-bottom: 16px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    border: none;
    border-radius: 5px;
    outline: none;

}

.form__describe {
    min-height: 189px;
    padding-top: 11px;
    resize: none;
    letter-spacing: -0.06px;
}


::placeholder {
    color: #f48c8f;
}

.form__input:hover,
.form__input:focus {
    background-color: #cf524b;
    box-shadow: 0px 0px 4px 1px #943732;
}

.form__input:focus:invalid:nth-child(-n+2) {
    outline: 2px solid red;
}

.form__input:focus:valid:nth-child(-n+2) {
    outline: 2px solid #07f50790;
}


.form__submit {
    height: 36px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    text-transform: uppercase;
    color: #f48c8f;
    outline: none;
}

.form__submit:hover {
    background-color: #cf524b;
    box-shadow: 0px 0px 4px 1px #943732;
}

.contact__info {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.info__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.info__description {
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.15px;
}



.info__location {
    padding: 1px 0 2px 3px;
    margin-bottom: -2.5px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.3px;
}

.info__tel {
    padding-left: 3px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.35px;
}

.info__mail {
    margin: 0px 0 2px 3px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.45px;
}

.info__location::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    background: url("assets/images/location-icon.png") no-repeat;
    width: 20px;
    height: 11px;

}

.info__tel::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    right: 2px;
    background: url("assets/images/phone-icon.png") no-repeat;
    width: 20px;
    height: 11px;
}

.info__mail::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 4.6px;
    right: 3px;
    background: url("assets/images/mail-icon.png") no-repeat;
    width: 20px;
    height: 11px;

}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    height: 76px;
    margin: auto;
    background-color: #2d303a;
}

.copyright {
    margin-left: 41px;
    font-weight: normal;
    font-size: 12px;
    color: #666d89;
    letter-spacing: -0.01rem;
}

.footer__social__icon {
    margin-top: 2px;
    margin-right: 40px;
}

.footer__icon {
    padding-left: 4px;
}

.footer__icon:hover {
    cursor: pointer;

}


@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}