
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.body, html {
    scroll-behavior: smooth; 
}

.container {
    position: relative;
    max-width: 1020px;
    margin: auto;
}

.header {
    width: 100%;
    /* height: 89px; */
    text-transform: uppercase;
    background-color: #2d303a;
    border-bottom: 6px solid #3a3e4b;
    position: sticky;
    top: 0;
    z-index: 2;
}

.anchor {
    position: relative;
    top: -89px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    height: 100%;
    /* margin: 0 auto; */
    margin-bottom: -10px;
    padding: 0 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 140px;
    height: 100%;
}

.logo__name {
    font-size: 24px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: left;
    vertical-align: -1px;
}

.logo__name::after {
    content: "*";
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
    color: #f06c64;
}

.navigation {
    width: 380px;
    height: 100%;
}

.navigation .menu {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    list-style: none;
}

.menu__item-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 68px;
    color: #ffffff;
}

.menu__item-link:hover {
    color: #f06c64;
}

.menu__item:not(:first-child)::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 400;
    font-size: 19px;
    color: #494e62;
}

.menu__item-link_selected {
    color: #f06c64;
}

.slider {
    width: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__content {
    display: flex;
    max-width: 940px;
    height: 100%;
    margin: 0 40px 53px 40px;
}

.slider__arrow-left {
    flex: 1 0 auto;
    margin-top: 280px;
}

.slider__arrow-left:hover {
    cursor: pointer;
}

.box__iPhone-Vertical {
    margin-bottom: 58px;
    position: relative;
    flex: 1 1 33%;
    height: 483px;
    
}
.box__iPhone-Horizontal {
    position: relative;
    flex: 1 1 91%;
    height: 240px;
}

.button__iPhone-Vertical {
    margin-top: 460px;
    margin-left: 142px;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #4518e600;
}

.button__iPhone-Vertical:hover {
    cursor: pointer;
}

.dark-screen__iPhone-Vertical {
    display: none;
    position: absolute;
    margin-top: 116px;
    margin-left: 69px;
    width: 189px;
    height: 335px;
    background-color: black;
}

.slider__iPhone-Vertical {
    position: absolute;
    margin-top: 52px;
    margin-left: 55px;
    
}


.slider__iPhone-Horizontal {
    
    position: absolute;
    margin-top: 173px;  
    margin-left: 129px;
}

.button__iPhone-Horizontal {
    margin-left: 137px;
    margin-top: 260px;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #1dd34a00;
}

.button__iPhone-Horizontal:hover {
    cursor: pointer;
}


.dark-screen__iPhone-Horizontal {
    display: none;
    position: absolute;
    margin-top: 186.5px;
    margin-left: 188px;
    width: 334px;
    height: 189px;
    background-color: black;
}


.slider__arrow-right {
    /* margin-left: 184px; */
    margin-top: 280px;
    flex: 1 0 auto;
    height: 27px;
}

.slider__arrow-right:hover {
    cursor: pointer;
}

.box__iPhone-Multiple {
    display: none;
    position: relative;
    flex: 4 1 96%;
    /* left: 155px; */
    top: 33px;
    margin-bottom: 25px;
    
}

.slider__iPhone-Multiple {
    padding-left: 200px;
}


.services {
    width: 960px;
    height: 449px;
    padding: 45px 30px 0 30px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__header {
    width: 940px;
    padding: 0 10px 0 10px;
}


.services__title {
    margin: 23px 0;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.services__description {
    padding: 5px 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.013rem;
}

.services__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 21px;
    width: 960px;
}

.cell {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 96px;
    padding: 0 10px 28px 10px;
    overflow: hidden;
}

.cell__body {
    padding-left: 18px;
}


.cell__header {
    font-size: 18px;
    line-height: 17px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: -0.1px;
}

.cell__description {
    width: 220px;
    height: 62px;
    margin-top: 11px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell__icon {
    display: block;
    width: 62px;
    height: 61px;
}


.portfolio {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 45px 40px 20px 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    margin: 24px 0;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.portfolio__description {
    margin-bottom: 0;
    padding-top: 2px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.22px;
}

.container__buttons {

    width: 290px;
}

.button {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 11px;
    list-style: none;
}

.button__item {
    display: inline-block;
    padding: 0 6px;
    background-color: #2d303a;
    border: 1.5px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    outline: none;
    transition: .3s;
}

.button__item:hover {
    cursor: pointer;
    color: #dedede;
    border-color: #c5c5c5;
}

.button__item_selected {
    border-color: #c5c5c5;
    color: #dedede;

}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 610px;
    overflow: hidden;
    margin-top: 18px;
    margin-bottom: 37px;
}

.portfolio-image {
    display: block;
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.portfolio-image:hover {
    cursor: pointer;
}

.portfolio-image_selected {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}

.about_us {
    height: 728px;
    margin: 0;
    padding: 0 30px 0 30px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about_us__header {
    width: 940px;
    padding: 0 10px 0 10px;

}


.about_us__title {
    margin: 0;
    padding-top: 69px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.about_us__description {
    margin-bottom: 0;
    padding-top: 9px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;

}

.person {
    display: flex;
    justify-content: space-between;
    margin-top: 45.5px;
    width: 960px;
}

.person__box {
    padding: 0 10px 0 10px;
    width: 300px;
}

.person__title {
    height: 17px;
    overflow: hidden;
    margin-top: 13.5px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.06px;
}

.person__description {
    margin-top: 11px;
    width: 300px;
    max-height: 43px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.01px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social__icon {
    margin-top: 24px;
    
}

.icon {
    padding-right: 4px;
}

.icon:hover {
    cursor: pointer;

}


.quote {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 44px 40px 18px 40px;
    background-color: #f06c64;
}

.quote__title {
    padding-bottom: 2px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}

.quote__description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;
    text-align: justify;
}

.contact {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 10px 40px 15px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.contact__form {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    width: 619px;
    margin: 0;
}

.form__input {
    height: 36px;
    margin-bottom: 16px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    border: none;
    border-radius: 5px;
    outline: none;

}

.form__describe {
    min-height: 189px;
    padding-top: 11px;
    resize: none;
    letter-spacing: -0.06px;
}


::placeholder {
    color: #f48c8f;
}

.form__input:hover,
.form__input:focus {
    background-color: #cf524b;
    box-shadow: 0px 0px 4px 1px #943732;
}

.form__input:focus:invalid:nth-child(-n+2) {
    outline: 2px solid red;
}

.form__input:focus:valid:nth-child(-n+2) {
    outline: 2px solid #07f50790;
}


.form__submit {
    height: 36px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    text-transform: uppercase;
    color: #f48c8f;
    outline: none;
}

.form__submit:hover {
    background-color: #cf524b;
    box-shadow: 0px 0px 4px 1px #943732;
}

.button__submit {
    display: block;
}

.message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.hidden {
    display: none;
}


.message {
    padding: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #521c1c;
    text-align: center;
    background-color: #b94c46d5;
    max-width: 400px;
    max-height: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    /* z-index: 6; */
}

#subject-result,
#description-result {
    overflow: hidden;
}

.button__message {
    outline: none;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    font-size: 12px;
    line-height: 20px;
    color: #dba6a9;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    transition: all 0.3s ease-out;
    margin: 0 auto;
}

.button__message:hover {
    background-color: #cf5750;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.button__message:active {
    background-color: #e9e0e1;
    color: #a52a24;
}




.contact__info {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}


.info__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.info__description {
    height: 88px;
    width: 300px;
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.15px;
}



.info__location {
    padding: 1px 0 2px 3px;
    margin-bottom: -2.5px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.3px;
}

.info__tel {
    padding-left: 3px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.35px;
}

.info__mail {
    margin: 0px 0 2px 3px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.45px;
}

.info__location::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    background: url("assets/images/location-icon.png") no-repeat;
    width: 20px;
    height: 11px;

}

.info__tel::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    right: 2px;
    background: url("assets/images/phone-icon.png") no-repeat;
    width: 20px;
    height: 11px;
}

.info__mail::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 4.6px;
    right: 3px;
    background: url("assets/images/mail-icon.png") no-repeat;
    width: 20px;
    height: 11px;

}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    height: 76px;
    margin: auto;
    background-color: #2d303a;
}

.copyright {
    margin-left: 41px;
    font-weight: normal;
    font-size: 12px;
    color: #666d89;
    letter-spacing: -0.01rem;
}

.footer__social__icon {
    margin-top: 2px;
    margin-right: 40px;
}

.footer__icon {
    padding-left: 4px;
}

.footer__icon:hover {
    cursor: pointer;

}


@media (max-width: 768px) {
    .portfolio {
        width: 690px;
    }
}















@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}